# Ignore node_modules and other dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore local environment configuration files
.env.local
.DS_Store

# Ignore Docker-related files
docker-compose.yml
Dockerfile
.dockerignore

# Ignore Git-related files
.git
.gitignore

# Ignore any temporary or log files
*.log
.tmp

# Ignore IDE and editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
Thumbs.db
*.swp
*.swo
*.bak
*.backup
