body {
  min-width: 400px;
  font-family: Roboto, sans-serif;
  padding-top: 55px;
  margin: 0;
  height: calc(100vh - 55px);
  background-color: #e0e0e0;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
}

body.global-sidebar-is-active {
  overflow: hidden;
}
